.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.container{
    box-shadow: 1rem 0rem 3rem rgba(0, 0, 0, 0.15);

}
.headerContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.header{

    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    color: #000;
    text-align: center;
    margin-top: 40px;
}
.headerInner{
    color: #EF4444;
}
.line{
    width: 30%;
    background-color: #EF4444;
    color: #EF4444;
    border-radius: 5px;
}