.container{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.activeContainer{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.active{
    width: 100%;
    border-radius: 10px;
}